.grace-menu-container {
    overflow: hidden;
}

.grace-menu, .grace-menu-background {
    width: 50%;
    height: 100%;
    transition: 0.7s ease-out;
    left: -100%;
    position: absolute;
    background-color: white;
    z-index: 999;
}

.grace-menu-background {
    background-color: black;
    z-index: 998;
}

.grace-menu.opened, .grace-menu-background.opened {
    left: 0;
}

.grace-menu-body {
    opacity: 0;
}